<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <link rel="stylesheet" href="style.css">
  <body>
    <div class="container">
    <h1>C00KiES EXAMPLE</h1>
    <div class="list">
    <h3>Login here</h3>
    <form class="" action="/login" method="post">
      <p>Username <input type="text" name="username"></p>
      <p>Password <input type="text" name="password"></p>
      <p><button type="submit">Submit</button></p>
    </form>
    <h3>~OR~</h3>
    <h3>If you're already logged In:</h3>
    <h4>(already got the cookie)</h4>
    <a href="/admin"><button>Go To List</button></a>
    <br>
    <br>
  </div>

  </div>
  <footer><a href="https://github.com/Racecarpenter/anAuthWithCookies">Race Carpenter &copy 2017</a></footer>
  </body>

</html>
